var format = function (text) {
  if (!text) {
    return
  }
  var reg = getRegExp('\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

var dateFormat = function(time){
  if(time){
    var date = getDate(time);
    return date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate()
  }
  return '未知'
}

module.exports = {
  format:format,
  dateFormat: dateFormat
}